<!DOCTYPE html>
<html lang="en" ng-app="SpendTrackerApp">
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/home-ng-controller.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js" integrity="sha256-LyocQFwqh0JslfDVDlJqJamo/nJP/5rAQdYtCAtB4hU=" crossorigin="anonymous"></script>-->
    <!--<script src ="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>-->
    <script src="js/Chart.js"></script>
    <script src="js/angular-chart.js"></script>
    <title>Spend Tracker App</title>

</head>
<body ng-controller="SpendTrackerController">
{{! changing the mustache delimiter so it doesn't conflict with }}
{{! the default angularjs delimeters - https://mustache.github.io/mustache.5.html for more info }}
{{=<% %>=}}

<div class="container">

    <span ng-if="loginScreen">

        <br/><br/>

        Login: <br/>
        Email: <input class="form-control" type="text" ng-model="email"/> <br/>
        Password: <input class="form-control"type="password" ng-model="password"/> <br/>
        <button class="btn btn-default" type="button" ng-click="login(email, password)">Login</button>

        <br/><br/>
        Or register: <br/>
        Email: <input class="form-control" type="text" ng-model="emailR"/> <br/>
        Password: <input class="form-control" type="password" ng-model="passwordR"/> <br/>
        Paycheck amount: <input class="form-control" type="number" ng-model="paycheckR"> <br/>
        <button class="btn btn-default" type="button" ng-click="register(emailR, passwordR, paycheckR)">Register</button>

        <br/><br/>

    </span>

    <span ng-if="!loginScreen">
        <br/>
        ~welcome, {{currentUser.email}}~
        <br/><br/>

        <button class="btn btn-default" type="button" ng-click="logout()">Logout</button>
        <br/><br/><br/>

        <!-- Menu for displaying transactions based on criteria: date, type, medium, category, and combinations of those -->
        Display all transactions based on: <br/>
        Date: <input type="text" name="dateSelection" ng-model="dateSelection" placeholder="Ex: Jan2017"/> <br/>
        Type: <input type="radio" name="typeSelection" ng-model="typeSelection" value="Withdrawal"> Withdrawal <input type="radio" name="typeSelection" ng-model="typeSelection" value="Deposit"> Deposit (<input type="radio" name="typeSelection" ng-model="typeSelection" value="Deselect"> Deselect) <br/>
        Medium: <input type="radio" name="mediumSelection" ng-model="mediumSelection" value="Credit card"> Credit card <input type="radio" name="mediumSelection" ng-model="mediumSelection" value="Debit card"> Debit card <input type="radio" name="mediumSelection" ng-model="mediumSelection" value="Cash"> Cash <input type="radio" name="mediumSelection" ng-model="mediumSelection" value="Check"> Check <input type="radio" name="mediumSelection" ng-model="mediumSelection" value="Direct deposit"> Direct deposit (<input type="radio" name="mediumSelection" ng-model="mediumSelection" value="Deselect"> Deselect) <br/>
        Category: <input type="radio" name="categorySelection" ng-model="categorySelection" value="Grocery"> Grocery <input type="radio" name="categorySelection" ng-model="categorySelection" value="Gas"> Gas <input type="radio" name="categorySelection" ng-model="categorySelection" value="Restaurant"> Restaurant <input type="radio" name="categorySelection" ng-model="categorySelection" value="Entertainment"> Entertainment <input type="radio" name="categorySelection" ng-model="categorySelection" value="Monthly bill"> Monthly bill <input type="radio" name="categorySelection" ng-model="categorySelection" value="Paycheck"> Paycheck <input type="radio" name="categorySelection" ng-model="categorySelection" value="Other"> Other (<input type="radio" name="categorySelection" ng-model="categorySelection" value="Deselect"> Deselect) <br/>

        <br/>
        <button class="btn btn-default" type="button" ng-click="submitDisplayOptions(dateSelection, typeSelection, mediumSelection, categorySelection)">Submit</button>

        <br/><br/>
        Transactions (based on selected criteria): <br/>
        <ul>
        <span ng-repeat="transaction in allTransactions">
        <li>{{transaction.date}} {{transaction.name}} {{transaction.amount}} ({{transaction.type}}, {{transaction.medium}}, {{transaction.category}}) <button class="btn btn-default" type="button" ng-click="deleteTransaction(transaction.id)">Delete</button> </button></li>
        </span>
        </ul>

        <br/>
        Balance (based on selected criteria): {{balance}}
        <br/><br/>

        <div> <!-- Trigger the modal with a button -->
            <button type="button" id="classes" class="btn btn-default"  data-toggle="modal" data-target="#myModals">Enter a New Transaction</button>

            <!-- Modal -->
            <div class="modal fade" id="myModals" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enter a new transaction</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <form valign="top">
                                    Date: <input type="text" class="form-control" ng-model="date" placeholder="Ex: Jan2017"/> <br/>
                                    Name: <input type="text" class="form-control" ng-model="name"/> <br/>
                                    Amount: <input type="text" class="form-control" ng-model="amount"/> <br/>
                                    Type: <input type="radio" name="type" ng-model="type" value="Withdrawal"> Withdrawal <input type="radio" name="type" ng-model="type" value="Deposit"> Deposit <br/><br/>
                                    Medium: <input type="radio" name="medium" ng-model="medium" value="Credit card"> Credit card <input type="radio" name="medium" ng-model="medium" value="Debit card"> Debit card <input type="radio" name="medium" ng-model="medium" value="Cash"> Cash <input type="radio" name="medium" ng-model="medium" value="Check"> Check <input type="radio" name="medium" ng-model="medium" value="Direct deposit"> Direct deposit <br/><br/>
                                    Category: <input type="radio" name="category" ng-model="category" value="Grocery"> Grocery <input type="radio" name="category" ng-model="category" value="Gas"> Gas <input type="radio" name="category" ng-model="category" value="Restaurant"> Restaurant <input type="radio" name="category" ng-model="category" value="Entertainment"> Entertainment <input type="radio" name="category" ng-model="category" value="Monthly bill"> Monthly bill <input type="radio" name="category" ng-model="category" value="Paycheck"> Paycheck <input type="radio" name="category" ng-model="category" value="Other"> Other <br/><br/>
                                    <button class="btn btn-default" type="button" ng-click="submitTransaction(date, name, amount, type, medium, category)">Submit</button> <br/>
                                    <br/><br/>
                                    Or.. <br/>
                                    Date: <input type="text" class="form-control" ng-model="dateP" placeholder="Ex: Jan2017"/> <br/>
                                    <button class="btn btn-default" type="button" ng-click="submitTransaction(dateP, 'Paycheck', 'PYCHK-AMT', 'Deposit', 'Direct deposit', 'Paycheck')">Paycheck</button><br/><br/>
                                    <input class="btn btn-default" type="reset" value="Reset All"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <br/><br/><br/>

    </span>

    <canvas id="myChart" width="400" height="400"></canvas>
        <!--<script>-->
            <!--var ctx = document.getElementById("myChart");-->
            <!--var myChart = new Chart(ctx, {-->
                <!--type: 'bar',-->
                <!--data: {-->
                    <!--labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],-->
                    <!--datasets: [{-->
                        <!--label: '# of Votes',-->
                        <!--data: [12, 19, 3, 5, 2, 3],-->
                        <!--backgroundColor: [-->
                            <!--'rgba(255, 99, 132, 0.2)',-->
                            <!--'rgba(54, 162, 235, 0.2)',-->
                            <!--'rgba(255, 206, 86, 0.2)',-->
                            <!--'rgba(75, 192, 192, 0.2)',-->
                            <!--'rgba(153, 102, 255, 0.2)',-->
                            <!--'rgba(255, 159, 64, 0.2)'-->
                        <!--],-->
                        <!--borderColor: [-->
                            <!--'rgba(255,99,132,1)',-->
                            <!--'rgba(54, 162, 235, 1)',-->
                            <!--'rgba(255, 206, 86, 1)',-->
                            <!--'rgba(75, 192, 192, 1)',-->
                            <!--'rgba(153, 102, 255, 1)',-->
                            <!--'rgba(255, 159, 64, 1)'-->
                        <!--],-->
                        <!--borderWidth: 1-->
                    <!--}]-->
                <!--},-->
                <!--options: {-->
                    <!--scales: {-->
                        <!--yAxes: [{-->
                            <!--ticks: {-->
                                <!--beginAtZero:true-->
                            <!--}-->
                        <!--}]-->
                    <!--}-->
                <!--}-->
            <!--});-->
    <!--</script>-->

    <canvas class="chart chart-bar" chart-data="data" chart-labels="labels"
            chart-series="series" chart-click="onClick"> </canvas>
    <!--<canvas id="canvas" height="600" width="1650" class="chart chart-line" chart-data="data"-->
            <!--chart-labels="labels" chart-series="series" chart-options="options"-->
            <!--chart-dataset-override="datasetOverride" chart-click="onClick" width="700" height="400"-->
    <!--/>-->

</div>

</body>

</html>